
*.class

*.class

*.class

*.dex

KitchenTimer/bin/dexedLibs/android-support-v4-07c99cb2abf2ce60840c72cbc2429591.jar

KitchenTimer/bin/classes/net/elmundio/kitchentimer/R$id.class

KitchenTimer/bin/classes/net/elmundio/kitchentimer/R$layout.class

KitchenTimer/bin/classes/net/elmundio/kitchentimer/R$menu.class

KitchenTimer/bin/classes/net/elmundio/kitchentimer/R$string.class

KitchenTimer/bin/classes/net/elmundio/kitchentimer/R$style.class

KitchenTimer/bin/resources.ap_

KitchenTimer/gen/net/elmundio/kitchentimer/R.java

KitchenTimer/bin/classes.dex

KitchenTimer/bin/KitchenTimer.apk

*.class

*.class

*.class

*.class

.DS_Store

KitchenTimer/.classpath

KitchenTimer/.gradle/1.2/taskArtifacts/fileSnapshots.bin

KitchenTimer/build/test-results/TEST-TimerTest.xml

KitchenTimer/build/reports/tests/index.html

KitchenTimer/build/reports/tests/default-package.html

KitchenTimer/build/reports/tests/TimerTest.html

KitchenTimer/bin/classes/net/elmundio/kitchentimer/Timer.class

*.bin

*.bin

KitchenTimer/.gradle/1.2/taskArtifacts/fileHashes.bin

KitchenTimer/.gradle/1.2/taskArtifacts/taskArtifacts.bin
